{% extends "nephrosis/base.html" %}

{% block body %}

<h3> 患者一覧 です</h3>
<br>
{% if patient_list %}
    <div class="list-group">
    {% for patient in patient_list %}
        {% comment %} <a href="./{{ patient.id }}" class="list-group-item">{{ patient.patient_text }}</a> {% endcomment %}
        <a href="{% url 'nephrosis:detail' patient.id %}" class="list-group-item">{{ patient.patient_text }}</a>
    {% endfor %}
    </div>
{% else %}
    <p>No nephrosis are available.</p>
{% endif %} 
{% endblock  %}